.a{
    background-color: rgb(200, 162, 200);
    height: 250px;
    width: 50%;
    display: flex;
    justify-content: center;
}

.b{
    background-color: #FFC0CB;
    height: 100%;
    width: 250px;
    border: 10px solid red;
}

.c{
    background-color: #7FFFD4;
    height: 88%;
    width: 30%;
}